// Icon Tasklist
.budgie-panel {

    .launcher {
        transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        border-color: transparentize($panel_bg,1); // fixes the transition
        padding: 0;
        background-clip: padding-box;
    }
    .unpinned .launcher,
    .pinned .launcher.running { @extend %underscores; }

    .pinned .launcher:not(.running):hover {
        background-color: transparentize(black, 0.8);
        box-shadow: inset 1px 0 transparentize(black, 0.8),
                    inset -1px 0 transparentize(black, 0.8);
    }
}

%underscores {
    &:hover,
    &:active, &:checked {
        background-color: transparentize(black, 0.8);
        box-shadow: inset 1px 0 transparentize(black, 0.8),
                    inset -1px 0 transparentize(black, 0.8);
    }

    @each $pos, $b_pos in $pos_list {
        .#{$pos} & {
            padding-#{$b_pos}: 2px;
            border-#{$pos}: 2px solid transparentize($panel_bg,1);

            @at-root {
                .#{$pos} .budgie-panel .unpinned .launcher,
                .#{$pos} .budgie-panel .pinned .launcher.running { border-#{$pos}: 2px solid transparentize($selected_bg_color, 0.5); }
            }
            &:hover {
                border-#{$pos}: 2px solid transparentize($selected_bg_color, 0.5);
            }
            &:active, &:checked {
                border-#{$pos}: 2px solid $selected_bg_color;
            }
        }
    }
}

@each $pos, $b_pos in $pos_list {

    // Panel borders
    .#{$pos} .budgie-panel { border-#{$b_pos}: $border_width solid $panel_border; }

    // Raven borders
    .#{$pos} .raven-frame {
        padding: 0;
        background: none;
        border: none;
        border-#{$b_pos}: $border_width solid $raven_border;
    }

    // Shadows
    .#{$pos} .shadow-block {
        background-color: transparent;
        background-image: linear-gradient(to $b_pos,
                                          $panel_shadow,
                                          transparent);
    }
}

// Alt+tab switcher in Budgie
.budgie-switcher-window {
    @extend .budgie-notification-window;

    // Lists
    GtkFlowBox {
        padding: 0px;
        margin: 0px;
        color: $fg_color;
    }
    GtkFlowBoxChild {
        padding: 3px;
        margin: 0px;
        color: $fg_color;

        &:hover { background-color: $button_bg; }
        &:active { color: $fg_color; }
        &:selected {
            color: $selected_fg_color;
            background-color: $selected_bg_color;

            &:active { color: $selected_fg_color; }
            &:hover { background-color: mix(black, $selected_bg_color, 10%); }
            &:insensitive {
                color: transparentize($selected_fg_color, 0.3);
                background-color: transparentize($selected_bg_color, 0.3);
                .label { color: inherit; }
            }
        }
    }
}

// Internal part of the Switcher
.budgie-switcher {
    @extend .budgie-notification;
}

// Session Dialog
.budgie-session-dialog {
    &.background { @extend .drop-shadow; }

    .dialog-title { font-size: 120%; }

    .linked.horizontal > .button {
        padding: 8px;
        border-bottom: none;
        border-radius: 0;
        &:first-child { border-left: none; border-radius: 0; }
        &:last-child { border-right: none; border-radius: 0; }
    }
}

// PolKit Dialog
.budgie-polkit-dialog {
    @extend .budgie-session-dialog;
    @extend %menu;

    .message { color: transparentize($fg_color, 0.3); }
    .failure { color: $alert_color; }
}

// Run Dialog
.budgie-run-dialog.background {
    @extend .drop-shadow;

    GtkSearchEntry.entry,
    GtkSearchEntry.entry:focus {
        font-size: 120%;
        padding: 8px 5px;
        border: none;
        box-shadow: none;

        &.image {
            color: currentColor;

            &:dir(ltr) { padding-left: 8px; padding-right: 12px; }
            &:dir(rtl) { padding-left: 12px; padding-right: 8px; }
        }
    }

    .list .list-row:selected .dim-label { opacity: 1; }

    GtkScrolledWindow { border-top: 1px solid darken($entry_border, 5%); }

    .undershoot, .overshoot { border: none; }
}
