$variant: 'default';

// Used to reset all style properties set by the gtk theme
%reset_style {
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
    opacity: 1;
}

@import 'settings';
@import '../common/imports';
@import 'widgets';
@import 'main';
@import 'resets';
