Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
*.stamp
*.dirstamp
.deps
missing
*.o
stamp-h*
.libs
node_modules/

m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# data
/data/budgie-panel.desktop

# panel
/panel/budgie-panel
/panel/*.c
budgie-panel-resources.*
/panel/budgie-panel.desktop
/panel/budgie-panel.desktop.in

/polkit/*.c
/polkit/*.h
budgie-polkit-dialog

# plugin
*.gir
*.typelib
/plugin/budgie-1.0.pc
/plugin/budgie-enums.c
/plugin/budgie-enums.h

/theme/*resources*.c
/theme/*resources*.h

*.la
*.lo
/panel/applets/*/*.c
*.stamp*

/raven/*.c
/raven/BudgieRaven.h
/raven/mpris/*.c
/raven/*.h

/lib/toplevel.c
/lib/shadow.c
/lib/animation.c
/lib/BudgieToplevel.h
/lib/manager.c

/libsession/*.c
/libsession/*.h

*.ui~

/session/budgie-desktop
/session/budgie-desktop.desktop
/session/budgie-desktop.desktop.in
/session/budgie-desktop.session
/session/budgie-desktop.session.in
/session/budgie-desktop-nm-applet.desktop
/session/budgie-desktop-polkit-gnome-authentication-agent-1.desktop

/wm/budgie-wm
/wm/budgie-wm.desktop
/wm/*.c

*.gschema.valid

/po/POTFILES
/po/Makefile.in.in
/po/stamp-it
/po/.intltool-merge-cache
/po/*.gmo

/polkit/*.desktop.in
/polkit/*.desktop

plugin-resources.c
plugin-resources.h

rundialog/*.c
rundialog/*.h
budgie-run-dialog

# Applet translations
/panel/applets/*/*.plugin


gtk-doc.make
m4/gtk-doc.m4

docs/budgie-desktop.args
docs/budgie-desktop.hierarchy
docs/budgie-desktop.interfaces
docs/budgie-desktop.prerequisites
docs/budgie-desktop.signals
docs/budgie-desktop.types
docs/budgie-desktop*.txt
docs/html/
docs/xml/
test-driver

