Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
*.stamp
*.dirstamp
.deps
missing
m4/
*.o
stamp-h*
.libs
node_modules/

# data
/data/*.valid
/data/arc-panel.desktop

# panel
/panel/arc-panel
/panel/*.c
arc-panel-resources.*
/panel/arc-panel.desktop

# plugin
*.gir
*.typelib
/plugin/*.c
/plugin/*.h
/plugin/arc-1.0.pc

*.la
*.lo
/panel/applets/*/*.c
*.stamp*

/raven/*.c
/raven/ArcRaven.h
/raven/mpris/*.c
/raven/*.h

/lib/toplevel.c
/lib/shadow.c
/lib/animation.c
/lib/ArcToplevel.h
/lib/manager.c

*.ui~

/session/arc-desktop
/session/arc-desktop.desktop
/session/arc-desktop.session

/wm/arc-wm
/wm/arc-wm.desktop
/wm/*.c
