Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
*.stamp
*.dirstamp
.deps
missing
m4/
*.o
stamp-h*
.libs

# data
/data/*.valid

# panel
/panel/arc-panel
/panel/*.c
arc-panel-resources.*

# plugin
*.gir
*.typelib
/plugin/*.c
/plugin/*.h

*.la
*.lo
