@function gtkalpha($c,$a) {
    @return unquote("alpha(#{$c},#{$a})");
}

$roundness: 3px;
$border_width: if($variant == 'default', 1px, 2px);
$pos_list: ((top, bottom),(bottom,top),(left,right),(right,left));
$asset_suffix: if($variant == 'default', '', '-hc');

// Used to reset all style properties set by the gtk theme
%reset_style,
GtkScrolledWindow,
GtkPopover GtkListBox,
GtkPopover GtkListBoxRow,
GtkPopover .scrollbar .trough {
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
    opacity: 1;
}

// Container for both the "panel" area and the shadow. Wise to keep
// this transparent..
.arc-container { background-color: transparent; }

.raven,
.arc-panel {

    * {
        padding: 0;
        @extend %reset_style;
    }

    .dim-label { opacity: 0.55; }
    .label:insensitive { color: transparentize($fg_color, 0.65); }
    .separator { color: rgba(0,0,0,0.25); }
    .cell { color: $fg_color; }
    GtkLabel, GtkImage { color: inherit; }

    // used to indicate unread notifications
    .alert { color: $alert_color; }

    // Entries
    .entry {
        padding: 4px 8px;
        border: $border_width solid;
        border-radius: $roundness;

        @include entry(normal);

        &:focus {
            @include entry(focus);
        }
        &:insensitive {
            @include entry(insensitive);
        }
        &:selected,
        &:selected:focus {
            color: $selected_fg_color;
            background-color: $selected_bg_color;
        }
    }

    // Buttons
    .button {
        background-clip: padding-box;
        padding: 4px 8px;
        border: $border_width solid;
        border-radius: $roundness;

        @include button(normal);

        &.flat:not(:hover):not(:active):not(:checked) {
            &, &:insensitive {
                @include button(flat);
            }
        }
        &:hover { @include button(hover); }
        &:active, &:checked { @include button(active); }
        &:insensitive {
            @include button(insensitive);
            &:active, &:checked {
                @include button(insensitive-active);
            }
        }

        // Destructive and Sugggested action buttons
        @each $b_type, $b_color in (suggested-action, $suggested_color),
                                   (destructive-action, $destructive_color) {
            &.#{$b_type} {
                @include button(normal, $b_color, $selected_fg_color);
                &:hover { @include button(hover, $b_color, $selected_fg_color); }
                &:active, &:checked { @include button(active, $active_bg:darken($b_color, 10%)); }
                &:insensitive { opacity: 0.5; }
            }
        }

        &.text-button { padding: 4px 12px; }
        &.image-button { padding: 4px; }
    }

    // Linked Widgets
    .linked {
        > .entry,
        > .button { @extend %linked; }

        // linked square buttons look weird
        .button.image-button { padding: 4px 7px; }
    }

    %linked_middle {
        border-radius: 0;
        border-right-style: none;
    }
    %linked {
        @extend %linked_middle;
        &:first-child {
            border-top-left-radius: $roundness;
            border-bottom-left-radius: $roundness;
        }
        &:last-child {
            border-top-right-radius: $roundness;
            border-bottom-right-radius: $roundness;
            border-right-style: solid;
        }
        &:only-child {
            border-radius: $roundness;
            border-style: solid;
        }
    }

    // ComboBoxes
    GtkComboBox.combobox-entry {
        .entry {
            &:dir(ltr) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:dir(rtl) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        .button {
            &:dir(ltr) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left-style: none;
            }
            &:dir(rtl) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-style: none;
            }
        }
    }

    // Spinbuttons
    .spinbutton {
        border-radius: $roundness;

        .button {
            border-color: transparentize($button_border, 0.3);
            border-style: none none none solid;
            border-radius: 0;

            &:dir(rtl) { border-style: none solid none none; }
        }
    }

    // Progressbars
    GtkProgressBar {
        padding: 0;
        font-size: smaller;
        color: transparentize($fg_color, 0.3);

        &.progressbar {
            background-color: $selected_bg_color;
            border: none;
            border-radius: 3px;
        }
        &.trough {
            border: none;
            border-radius: 3px;
            background-color: $trough_bg;
        }
    }

    // Scale
    .scale {
        -GtkScale-slider-length: if($variant == 'default', 9, 16);
        -GtkRange-slider-width: if($variant == 'default', 5, 16);
        -GtkRange-trough-border: 0;
        outline-offset: -1px;
        outline-radius: 2px;

        color: gtkalpha(currentColor, 0.7);

        &.slider {
            border-radius: if($variant == 'default', 2.5px, 50%);
            background-color: $selected_bg_color;
            border-color: $selected_fg_color;

            &:hover { opacity: 1; }

            &:insensitive {}
        }
        &.trough {
            margin: if($variant == 'default', 0, 5px);
            background-color: $trough_bg;
            border-radius: 2.5px;

            &.highlight {
                background-color: $selected_bg_color;

                &:insensitive {}
            }
            &:insensitive {}
        }
    }

    // Check and Radio Items
    @each $w,$a in ('check', 'checkbox'),
                   ('radio','radio') {
      .#{$w} {
        color: $fg_color;
        -gtk-icon-source: if($variant == 'default', -gtk-scaled(url("assets/#{$a}.png"),url("assets/#{$a}@2.png")),
                                                    -gtk-icontheme('#{$a}-symbolic'));

        &:checked, &:active {
            -gtk-icon-source: if($variant == 'default', -gtk-scaled(url("assets/#{$a}-active.png"),url("assets/#{$a}-active@2.png")),
                                                        -gtk-icontheme('#{$a}-checked-symbolic'));
        }
        &:insensitive { color: transparentize($fg_color, 0.65); }
        &:inconsistent { -gtk-icon-source: -gtk-icontheme('#{$a}-mixed-symbolic'); }
      }
    }

    // Switches
    GtkSwitch {
        font: 1;
        -GtkSwitch-slider-width: 45;
        -GtkSwitch-slider-height: 19;
        outline-color: transparent;

        &:insensitive { opacity: 0.4; }

        &.trough, &.slider {
            color: transparent;
            background-size: 45px 19px;
            background-repeat: no-repeat;
            background-position: right center;

            &:dir(rtl) { background-position: left center; }
        }
        &.trough {
            background-image: -gtk-scaled(url("assets/switch#{$asset_suffix}.png"),url("assets/switch#{$asset_suffix}@2.png"));

            &:active { background-image: -gtk-scaled(url("assets/switch-active#{$asset_suffix}.png"),url("assets/switch-active#{$asset_suffix}@2.png")); }
        }
    }

    // Scrollbars
    .scrollbar {
        -GtkRange-slider-width: 13;
        -GtkRange-trough-border: 0;
        -GtkScrollbar-has-backward-stepper: false;
        -GtkScrollbar-has-forward-stepper: false;
        -GtkScrollbar-min-slider-length: 42;
        -GtkRange-stepper-spacing: 0;
        -GtkRange-trough-under-steppers: 1;

        $_slider_margin: 3px;
        $_slider_fine_tune_margin: 4px;

        .button { border: none; }

        &.overlay-indicator {
            &:not(.dragging):not(.hovering) {
                opacity: if($variant == 'default', 0.4, 1);

                -GtkRange-slider-width: 6px;

                .slider {
                    margin: $_slider_margin - 1px 0;
                    background-color: $scrollbar_bg;
                    border: 1px solid $scrollbar_border;
                    background-clip: padding-box;
                }
                .trough {
                    border-style: none;
                    background-color: transparent;
                }
            }
            &.dragging,
            &.hovering { opacity: 0.99; }
        }

        .slider {
            border-radius: 100px;
            margin: $_slider_margin;
            background-color: transparentize($scrollbar_bg, if($variant == 'default', 0.5, 0));

            &:hover { background-color: transparentize($scrollbar_bg, if($variant == 'default', 0.3, 0)); }

            &:prelight:active { background-color: $selected_bg_color;}

            &:insensitive { background-color: transparent; }
        }
        &.fine-tune .slider { margin: $_slider_fine_tune_margin; }

        .trough { background-color: if($variant == 'default', transparentize(black, 0.6), $trough_bg); }
    }

    // Lists
    .list { color: $fg_color; }
    .list-row.activatable {
        padding: 3px;
        color: $fg_color;

        &:hover { background-color: $button_bg; }
        &:active { color: $fg_color; }
        &:selected {
            color: $selected_fg_color;
            background-color: $selected_bg_color;

            &:active { color: $selected_fg_color; }
            &:hover { background-color: mix(black, $selected_bg_color, 10%); }
            &:insensitive {
                color: transparentize($selected_fg_color, 0.3);
                background-color: transparentize($selected_bg_color, 0.3);
                .label { color: inherit; }
            }
        }
    }
    @at-root .raven {
        .menu {
            .cell { color: inherit; }

            margin: 4px;
            padding: 0;
            border-radius: 0;
            background-color: $raven_bg;

            .menuitem {
                padding: 5px;
                color: $fg_color;
                &:hover {
                    color: $selected_fg_color;
                    background-color: if($variant == 'hc',$selected_bg_color, transparentize(white, 0.95));
                    border: solid if($variant == 'hc', $selected_bg_color, transparentize(white, 0.93));
                    border-width: 1px 0 1px 0;
              }
              &:insensitive { color: transparentize($fg_color, 0.65); }
              &.separator { color: transparentize($raven_bg, 1); }
            }
            &.button {
                border: none;
                &:hover { background-color: $selected_bg_color; }
                &:insensitive {
                    color: transparentize($fg_color, 0.65);
                    background-color: transparent;
                }
            }
        }
        .window-frame.csd.popup {
            box-shadow: 0 3px 6px transparentize(black, 0.55),
                        0 0 0 1px transparentize(black, 0.55);
        }
    }

    // Calendar
    GtkCalendar.raven-calendar {
        padding: 3px;
        color: $fg_color;

        &:inconsistent { color: gtkalpha(currentColor,0.3); }

        @if $variant=='default' {
            &:selected { color: $selected_bg_color; }
        }
        @else {
            &:selected {
                color: $selected_fg_color;
                background-color: $selected_bg_color;
            }
        }
        &.header {
            color: $fg_color;
            border: none;
            border-radius: 0;
        }
        &.button, &.button:focus {
            color: gtkalpha(currentColor,0.5);
            background-color: transparent;

            &:hover {
                color: $fg_color;
                background-color: transparent;
            }
        }
    }
}

// Panel
.arc-panel {
    color: $fg_color;
    background-color: $panel_bg;

    // End Section needs to be fancy
    @if $variant == 'default' {
        .end-region {
            background-color: rgba(0,0,0,0.3);
            border-radius: 2px;

            .separator { color: transparentize($fg_color, 0.85) }
        }
    }
}

// Tasklist
.arc-panel WnckTasklist .button,
.arc-panel WnckTasklist .button:backdrop {

    border-radius: 0;

    @if $variant == 'default' {
        &:not(:hover):not(:active):not(:checked) { color: gtkalpha(currentColor, 0.5); }
        background: none;
        background-clip: padding-box;
        border: none;

        @extend %underscores;
    }
}

// Icon Tasklist
.arc-panel {

    .launcher {
        transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        padding-left: 2px;
        padding-right: 2px;
        border-color: transparentize($panel_bg,1); // fixes the transition

        &:hover { -gtk-image-effect: highlight; }
    }
    .unpinned .launcher,
    .pinned .launcher.running { @extend %underscores; }
}

%underscores {
    &:hover { background-color: transparentize(black, 0.9); }
    &:active, &:checked { background-color: transparentize(black, 0.8); }

    @each $pos, $b_pos in $pos_list {
        .#{$pos} & {
            border-#{$b_pos}: 2px solid transparentize($panel_bg,1);
            border-#{$pos}: 2px solid transparentize($panel_bg,1);

            @at-root {
                .#{$pos} .arc-panel .unpinned .launcher,
                .#{$pos} .arc-panel .pinned .launcher.running { border-#{$pos}: 2px solid transparentize($selected_bg_color, 0.5); }
            }
            &:hover {
                border-#{$b_pos}: 2px solid transparentize(black, 0.9);
                border-#{$pos}: 2px solid transparentize($selected_bg_color, 0.5);
            }
            &:active, &:checked {
                border-#{$b_pos}: 2px solid transparentize(black, 0.8);
                border-#{$pos}: 2px solid $selected_bg_color;
            }
        }
    }
}

@each $pos, $b_pos in $pos_list {

    // Panel borders
    .#{$pos} .arc-panel { border-#{$b_pos}: $border_width solid $panel_border; }

    // Raven borders
    .#{$pos} .raven-frame {
        padding: 0;
        background: none;
        border: none;
        border-#{$b_pos}: $border_width solid $raven_border;
    }

    // Shadows
    .#{$pos} .shadow-block {
        background-color: transparent;
        background-image: linear-gradient(to $b_pos,
                                          $panel_shadow,
                                          transparent);
    }
}

// Raven
.raven {
    color: $fg_color;
    background-color: $raven_bg;
    transition: 170ms ease-out;

    .raven-header {
        color: $fg_color;
        border: solid $raven_expander_border;
        border-width: 1px 0;
        background-color: $raven_expander_bg;

        &.top { border-top-style: none; }
        &.bottom { border-bottom-style: none; }
    }
    @if $variant=='default' {
        .expander-button { color: gtkalpha(currentColor, 0.5); }
    }
    .raven-background {
        color: $fg_color;
        background-color: $raven_background_bg;
        border-bottom: 1px solid $raven_background_border;

        &.middle { border-bottom-style: none; }  // applet background between two headers
    }
    .powerstrip .button {
        padding: 10px;
    }
    .option-subtitle {
        font-size: smaller;
    }
}

// MPRIS Applet
.raven-mpris {
    color: $mpris_overlay_fg;
    background-color: $mpris_overlay_bg;
    border: solid $mpris_overlay_border;
    border-width: 1px 0;

    .button.image-button { padding: 8px; }
}
