// Lists
@mixin lists($list,$row,$label,$insensitive) {
    #{$list} { color: $fg_color; }
    #{$row}.activatable {
        padding: 3px;
        color: $fg_color;

        &:hover { background-color: $button_bg; }
        &:active { color: $fg_color; }
        &:selected {
            color: $selected_fg_color;
            background-color: $selected_bg_color;

            &:active { color: $selected_fg_color; }
            &:hover { background-color: mix(black, $selected_bg_color, 10%); }
            &:#{$insensitive} {
                color: transparentize($selected_fg_color, 0.3);
                background-color: transparentize($selected_bg_color, 0.3);
                #{$label} { color: inherit; }
            }
        }
    }
}
