@mixin widget_menu($item, $insensitive, $separator, $color, $button) {
    margin: 4px;
    padding: 0;
    border-radius: 0;
    background-color: $raven_bg;

    #{$item} {
        padding: 5px;
        color: $fg_color;
        &:hover {
            color: $selected_fg_color;
            background-color: $selected_bg_color;
        }
        &#{$insensitive} { color: transparentize($fg_color, 0.65); }
        #{$separator} { #{$color}: transparentize($raven_bg, 1); }
    }
    #{$button} {
        border: none;
        &:hover { background-color: $selected_bg_color; }
        &:#{$insensitive} {
            color: transparentize($fg_color, 0.65);
            background-color: transparent;
       }
    }
}

%widget_menu_popup {
    box-shadow: 0 3px 6px transparentize(black, 0.55),
                0 0 0 1px transparentize(black, 0.55);
}
