@mixin widget_progressbar($progressbar,$progress,$trough) {
    #{$progressbar} {
        padding: 0;
        font-size: smaller;
        color: transparentize($fg_color, 0.3);

        #{$progress} {
            background-color: $selected_bg_color;
            border: none;
            border-radius: 3px;
        }
        #{$trough} {
            border: none;
            border-radius: 3px;
            background-color: $trough_bg;
        }
    }
}