@mixin borders($pos_list) {
    @each $pos, $b_pos in $pos_list {

        // Panel borders
        .#{$pos} .budgie-panel { border-#{$b_pos}: $border_width solid $panel_border; }

        // Raven borders
        .#{$pos} .raven-frame {
            padding: 0;
            background: none;
        }

        // Shadows
        .#{$pos} .shadow-block {
            background-color: transparent;
            background-image: linear-gradient(to $b_pos,
                                              $panel_shadow,
                                              transparent);
        }
    }
}
