$fg_color: if($variant == 'default', white, black);

$selected_bg_color: if($variant =='default', #5294E2, black);
$selected_fg_color: white;

$warning_color: #F27835;
$error_color: #FC4138;
$alert_color: #FF4545;
$destructive_color: #F04A50;
$suggested_color: #4DADD4;

$panel_bg: if($variant == 'default', transparentize(#252a35, 0.05), white);
$panel_border: if($variant == 'default', transparentize(#0f1116, 0.05), black);
$panel_shadow: transparentize(black, 0.7);

$raven_bg: if($variant == 'default', transparentize(#353945, 0.07), $panel_bg);
$raven_border: if($variant == 'default', transparentize($panel_border, 0.05), $panel_border);

$raven_expander_bg: if($variant == 'default', transparentize(#12141A, 0.6), $raven_bg);
$raven_expander_fg: $fg_color;
$raven_expander_border: if($variant == 'default', $raven_expander_bg, $raven_border);

$raven_background_bg: if($variant == 'default', transparentize(#1A1D26, 0.6), $raven_bg);
$raven_background_border: if($variant == 'default', $raven_background_bg, $raven_border);

$mpris_overlay_bg: darken($raven_bg, 12%);
$mpris_overlay_fg: $fg_color;
$mpris_overlay_border: if($variant== 'default', opacify(darken($mpris_overlay_bg, 4%), 0.05), $raven_border);

$button_bg: transparentize(lighten($raven_bg, 33%), 0.72);
$button_fg: $fg_color;
$button_border: if($variant == 'default', transparentize(darken($raven_bg, 10%), 0.31), mix($panel_bg,$fg_color,50%));

$entry_bg: $button_bg;
$entry_fg: $button_fg;
$entry_border: $button_border;

$scrollbar_bg: if($variant == 'default', white, black);
$scrollbar_border: if($variant == 'default', black, white);

$trough_bg: if($variant == 'default', opacify($button_bg, 0.14), lighten($button_border, 20%));
