// Icon Tasklist
@mixin icon_tasklist($launcher_type) {
    #{$launcher_type}.launcher {
        transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        border-color: transparentize($panel_bg,1); // fixes the transition
        padding: 0;
        background-clip: padding-box;
    }

    .pinned #{$launcher_type}.launcher:not(.running):hover {
        box-shadow: inset 1px 0 transparentize(black, 0.8),
                    inset -1px 0 transparentize(black, 0.8);
    }

    .pinned #{$launcher_type}.launcher {
        &:hover,
        &:active, &:checked {
            background-color: transparentize(black, 0.8);
        }
    }
}
