$budgie_tasklist_indicator_color: #3C6DA6;
$budgie_tasklist_indicator_color_active: #5294E2;
$budgie_tasklist_indicator_color_active_window: #6BBFFF;
$budgie_tasklist_indicator_color_attention: #D84E4E;

// Icon Tasklist
@mixin icon_tasklist($launcher_type) {
    &.transparent .icon-tasklist {
        box-shadow: inset 0 3px transparentize(black, 0.3);
    }

    #{$launcher_type}.launcher {
        transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        border-color: transparentize($panel_bg,1); // fixes the transition
        padding: 0;
        background-clip: padding-box;
    }

    #{$launcher_type}.launcher:not(.running):hover {
        box-shadow: inset 1px 0 transparentize(black, 0.8),
                    inset -1px 0 transparentize(black, 0.8);
    }

    #{$launcher_type}.launcher {
        &:hover,
        &:active, &:checked {
            background-color: transparentize(black, 0.8);
        }
    }
}