// Panel
@mixin budgie_panel($button, $separator, $color) {
    @extend %widgets;
    color: $fg_color;
    background-color: $panel_bg;
    background-image: none;
    box-shadow: none;
    border: none;
    transition: all 150ms ease-in;

    #{$button} {
      border-top-width: 0;
      border-bottom-width: 0;
      border-radius: 0;
    }

    &.transparent {
        background-color: transparent;

        .top & {
            border-bottom-color: transparent;
        }

        .bottom & {
            border-top-color: transparent;
        }

        .left & {
            border-right-color: transparent;
        }

        .right & {
            border-left-color: transparent;
        }
    }

    #{$separator} { #{$color}: transparentize($fg_color, 0.85) }

    // End Section needs to be fancy
    @if $variant == 'default' {
        .end-region {
            background-color: rgba(0,0,0,0.2);

            &:dir(ltr) { border-left: 1px solid rgba(0,0,0,0.2); }
            &:dir(rtl) { border-right: 1px solid rgba(0,0,0,0.2); }
        }
    }
}
