.budgie-popover,
.budgie-popover.background {
    border-radius: 3px;
    background-clip: border-box;
    box-shadow: 0 2px 3px 1px transparentize(black, 0.65);
    border: 1px solid #{"@borders"};
}

.budgie-popover .container {
    @extend %reset_style;
    padding: 2px;
}
