// Used to reset all style properties set by the gtk theme
%reset_style {
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 1;
}

@mixin menu_reset_style($label,$insensitive) {
    padding: 4px 8px;
    border: solid transparent;
    border-width: 0;

    &:hover {
        background-color: $selected_bg_color;
        color: $fg_color;
    }

    &:#{$insensitive} {
        color: rgba(207, 218, 231, 0.2);
        border-color: transparent;
    }

    #{$label} {
        background: none;
        color: $fg_color;
    }
}

