/**
 * This file is used to force overrides on all GTK themes
 */
GtkScrolledWindow,
GtkPopover GtkListBox,
GtkPopover GtkListBoxRow,
GtkPopover .scrollbar .trough,
GtkCalendar.raven-calendar,
.raven .button,
.raven GtkSwitch.trough,
.raven GtkSwitch.slider,
.raven .scale,
.raven .scale.slider,
.raven .scale.trough,
.raven .radio {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-image: none;
    border-style: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

/**
 * Container for both the "panel" area and the shadow. Wise to keep
 * this transparent..
 */
.arc-container {
    background-color: transparent;
}


/* Calendar */
GtkCalendar.raven-calendar {
    color: white;
}

GtkCalendar.raven-calendar.header {
    color: white;
    border: none;
    border-radius: 0;
}

GtkCalendar.raven-calendar.button,
GtkCalendar.raven-calendar.button:focus {
    color: alpha(currentColor,0.5);
    background-color: transparent;
}

GtkCalendar.raven-calendar.button:hover {
    color: white;
    background-color: transparent;
}

GtkCalendar.raven-calendar:inconsistent {
    color: alpha(currentColor,0.3);
}

GtkCalendar.raven-calendar:selected {
    color: @theme_selected_bg_color;
}


/* Scale */
.raven .scale,
.arc-panel .scale {
  -GtkScale-slider-length: 9;
  -GtkRange-slider-width: 5;
  -GtkRange-trough-border: 0;
}

.raven .scale.slider,
.arc-panel.scale.slider {
    border-radius: 2.5px;
    background-color: @theme_selected_bg_color;
    border-color: @theme_selected_bg_color;
}

.raven .scale.slider:hover,
.arc-panel.scale.slider:hover {
    opacity: 1;
}

.raven .scale.trough,
.arc-panel.scale.trough {
    background-color: alpha(#788199, 0.32);
    background-image: none;
    margin: 0;
}

.raven .scale.trough.highlight,
.arc-panel.scale.trough.highlight {
    background-color: @theme_selected_bg_color;
}


/* Buttons */
.raven .button {
    background-clip: padding-box;
    color: white;
    background-color: alpha(#788199, 0.18);
    border: 1px solid alpha(#171b25, 0.59);
}

.raven .button.flat {
    background-color: alpha(#788199, 0);
    border-color: transparent;
}

.raven-expander .button {
    padding: 4px;
}

.raven-expander .button.flat {
    color: alpha(currentColor, 0.5);
}

.raven .button:hover,
.raven .button.flat:hover {
    color: white;
    background-color: shade(alpha(#788199, 0.18), 1.1);
    border-color: alpha(#171b25, 0.59);
}

.raven .button:active,
.raven .button.flat:active {
    background-clip: padding-box;
    color: @selected_fg_color;
    background-color: @theme_selected_bg_color;
}

/* Radio Items */
.raven .radio {
    -gtk-icon-source: -gtk-scaled(url("radio.svg"),url("radio@2.svg"));
}

.raven .radio:checked {
    -gtk-icon-source: -gtk-scaled(url("radio-active.svg"),url("radio-active@2.svg"));
}

/* Switch */
.raven GtkSwitch {
    font: 1;
    -GtkSwitch-slider-width: 41;
    -GtkSwitch-slider-height: 17;
    outline-color: transparent;
}

.raven GtkSwitch.trough,
.raven GtkSwitch.slider {
    background-size: 41px 17px;
    background-repeat: no-repeat;
    background-position: right center;
    color: transparent;
}

.raven GtkSwitch.trough:dir(rtl),
.raven GtkSwitch.slider:dir(rtl) {
    background-position: left center;
}

.raven GtkSwitch.trough {
  background-image: -gtk-scaled(url("switch.svg"),url("switch@2.svg"));
}

.raven GtkSwitch.trough:active {
  background-image: -gtk-scaled(url("switch-active.svg"),url("switch-active@2.svg"));
}

.raven GtkSwitch:insensitive {
    opacity: 0.4;
}
