.raven .dim-label,
.arc-panel .dim-label, .raven .entry,
.arc-panel .entry, .raven .button,
.arc-panel .button, .raven .scale,
.arc-panel .scale, .raven .radio,
.arc-panel .radio, .raven GtkSwitch,
.arc-panel GtkSwitch, .raven GtkCalendar.raven-calendar,
.arc-panel GtkCalendar.raven-calendar,
GtkScrolledWindow,
GtkPopover GtkListBox,
GtkPopover GtkListBoxRow,
GtkPopover .scrollbar .trough {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border-image: none;
  border-style: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
  opacity: 1; }

.arc-container {
  background-color: transparent; }

.raven .dim-label,
.arc-panel .dim-label {
  opacity: 0.55; }

.raven .entry,
.arc-panel .entry {
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 3px;
  color: white;
  background-color: rgba(120, 129, 153, 0.18);
  border-color: rgba(23, 27, 37, 0.59); }
  .raven .entry:focus,
  .arc-panel .entry:focus {
    color: white;
    background-color: rgba(120, 129, 153, 0.18);
    border-color: rgba(23, 27, 37, 0.59);
    box-shadow: inset 1px 0 #5294E2, inset -1px 0 #5294E2, inset 0 1px #5294E2, inset 0 -1px #5294E2; }
  .raven .entry:insensitive,
  .arc-panel .entry:insensitive {
    color: rgba(255, 255, 255, 0.35);
    background-color: rgba(120, 129, 153, 0);
    border-color: rgba(23, 27, 37, 0.29); }
  .raven .entry:selected, .raven .entry:selected:focus,
  .arc-panel .entry:selected,
  .arc-panel .entry:selected:focus {
    color: white;
    background-color: #5294E2; }

.raven .button,
.arc-panel .button {
  background-clip: padding-box;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 3px;
  color: white;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(120, 129, 153, 0.18);
  border-color: rgba(23, 27, 37, 0.59); }
  .raven .button.flat:not(:hover):not(:active):not(:checked), .raven .button.flat:not(:hover):not(:active):not(:checked):insensitive,
  .arc-panel .button.flat:not(:hover):not(:active):not(:checked),
  .arc-panel .button.flat:not(:hover):not(:active):not(:checked):insensitive {
    background-color: rgba(120, 129, 153, 0);
    border-color: rgba(23, 27, 37, 0); }
  .raven .button:hover,
  .arc-panel .button:hover {
    color: white;
    background-color: rgba(164, 170, 186, 0.28);
    border-color: rgba(23, 27, 37, 0.59); }
  .raven .button:active, .raven .button:checked,
  .arc-panel .button:active,
  .arc-panel .button:checked {
    color: white;
    background-color: #5294E2;
    border-color: rgba(23, 27, 37, 0.59); }
  .raven .button:insensitive,
  .arc-panel .button:insensitive {
    color: rgba(255, 255, 255, 0.35);
    background-color: rgba(120, 129, 153, 0.08);
    border-color: rgba(23, 27, 37, 0.39); }
    .raven .button:insensitive:active, .raven .button:insensitive:checked,
    .arc-panel .button:insensitive:active,
    .arc-panel .button:insensitive:checked {
      opacity: 0.5; }
  .raven .button.suggested-action,
  .arc-panel .button.suggested-action {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    background-color: #4DADD4;
    border-color: rgba(23, 27, 37, 0.59); }
    .raven .button.suggested-action:hover,
    .arc-panel .button.suggested-action:hover {
      color: white;
      background-color: #8bc9e3;
      border-color: rgba(23, 27, 37, 0.59); }
    .raven .button.suggested-action:active, .raven .button.suggested-action:checked,
    .arc-panel .button.suggested-action:active,
    .arc-panel .button.suggested-action:checked {
      color: white;
      background-color: #2e96c0;
      border-color: rgba(23, 27, 37, 0.59); }
    .raven .button.suggested-action:insensitive,
    .arc-panel .button.suggested-action:insensitive {
      opacity: 0.5; }
  .raven .button.destructive-action,
  .arc-panel .button.destructive-action {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    background-color: #F04A50;
    border-color: rgba(23, 27, 37, 0.59); }
    .raven .button.destructive-action:hover,
    .arc-panel .button.destructive-action:hover {
      color: white;
      background-color: #f69194;
      border-color: rgba(23, 27, 37, 0.59); }
    .raven .button.destructive-action:active, .raven .button.destructive-action:checked,
    .arc-panel .button.destructive-action:active,
    .arc-panel .button.destructive-action:checked {
      color: white;
      background-color: #ec1b22;
      border-color: rgba(23, 27, 37, 0.59); }
    .raven .button.destructive-action:insensitive,
    .arc-panel .button.destructive-action:insensitive {
      opacity: 0.5; }
  .raven .button.text-button,
  .arc-panel .button.text-button {
    padding: 4px 12px; }
  .raven .button.image-button,
  .arc-panel .button.image-button {
    padding: 4px; }

.raven .linked .button.image-button,
.arc-panel .linked .button.image-button {
  padding: 4px 7px; }

.raven .linked > .entry,
.raven .linked > .button, .raven
.arc-panel .linked > .entry, .raven
.arc-panel .linked > .button,
.arc-panel .raven .linked > .entry,
.arc-panel
.raven .linked > .button,
.arc-panel .linked > .entry,
.arc-panel .linked > .button {
  border-radius: 0;
  border-right-style: none; }

.raven .linked > .entry:first-child,
.raven .linked > .button:first-child, .raven
.arc-panel .linked > .entry:first-child, .raven
.arc-panel .linked > .button:first-child,
.arc-panel .raven .linked > .entry:first-child,
.arc-panel
.raven .linked > .button:first-child,
.arc-panel .linked > .entry:first-child,
.arc-panel .linked > .button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.raven .linked > .entry:last-child,
.raven .linked > .button:last-child, .raven
.arc-panel .linked > .entry:last-child, .raven
.arc-panel .linked > .button:last-child,
.arc-panel .raven .linked > .entry:last-child,
.arc-panel
.raven .linked > .button:last-child,
.arc-panel .linked > .entry:last-child,
.arc-panel .linked > .button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right-style: solid; }

.raven .linked > .entry:only-child,
.raven .linked > .button:only-child, .raven
.arc-panel .linked > .entry:only-child, .raven
.arc-panel .linked > .button:only-child,
.arc-panel .raven .linked > .entry:only-child,
.arc-panel
.raven .linked > .button:only-child,
.arc-panel .linked > .entry:only-child,
.arc-panel .linked > .button:only-child {
  border-radius: 3px;
  border-style: solid; }

.raven .spinbutton,
.arc-panel .spinbutton {
  border-radius: 3px; }
  .raven .spinbutton .button,
  .arc-panel .spinbutton .button {
    border-color: rgba(23, 27, 37, 0.29);
    border-style: none none none solid;
    border-radius: 0; }
    .raven .spinbutton .button:dir(rtl),
    .arc-panel .spinbutton .button:dir(rtl) {
      border-style: none solid none none; }

.raven .scale,
.arc-panel .scale {
  -GtkScale-slider-length: 9;
  -GtkRange-slider-width: 5;
  -GtkRange-trough-border: 0;
  outline-offset: -1px;
  outline-radius: 2px;
  color: alpha(currentColor,0.7); }
  .raven .scale.slider,
  .arc-panel .scale.slider {
    border-radius: 2.5px;
    background-color: #5294E2;
    border-color: white; }
    .raven .scale.slider:hover,
    .arc-panel .scale.slider:hover {
      opacity: 1; }
  .raven .scale.trough,
  .arc-panel .scale.trough {
    margin: 0;
    background-color: rgba(120, 129, 153, 0.32);
    border-radius: 2.5px; }
    .raven .scale.trough.highlight,
    .arc-panel .scale.trough.highlight {
      background-color: #5294E2; }

.raven .radio,
.arc-panel .radio {
  -gtk-icon-source: -gtk-scaled(url("assets/radio.svg"), url("assets/radio@2.svg")); }
  .raven .radio:checked,
  .arc-panel .radio:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-active.svg"), url("assets/radio-active@2.svg")); }

.raven GtkSwitch,
.arc-panel GtkSwitch {
  font: 1;
  -GtkSwitch-slider-width: 41;
  -GtkSwitch-slider-height: 17;
  outline-color: transparent; }
  .raven GtkSwitch:insensitive,
  .arc-panel GtkSwitch:insensitive {
    opacity: 0.4; }
  .raven GtkSwitch.trough, .raven GtkSwitch.slider,
  .arc-panel GtkSwitch.trough,
  .arc-panel GtkSwitch.slider {
    color: transparent;
    background-size: 41px 17px;
    background-repeat: no-repeat;
    background-position: right center; }
    .raven GtkSwitch.trough:dir(rtl), .raven GtkSwitch.slider:dir(rtl),
    .arc-panel GtkSwitch.trough:dir(rtl),
    .arc-panel GtkSwitch.slider:dir(rtl) {
      background-position: left center; }
  .raven GtkSwitch.trough,
  .arc-panel GtkSwitch.trough {
    background-image: -gtk-scaled(url("assets/switch.svg"), url("assets/switch@2.svg")); }
    .raven GtkSwitch.trough:active,
    .arc-panel GtkSwitch.trough:active {
      background-image: -gtk-scaled(url("assets/switch-active.svg"), url("assets/switch-active@2.svg")); }

.raven GtkCalendar.raven-calendar,
.arc-panel GtkCalendar.raven-calendar {
  color: white; }
  .raven GtkCalendar.raven-calendar:inconsistent,
  .arc-panel GtkCalendar.raven-calendar:inconsistent {
    color: alpha(currentColor,0.3); }
  .raven GtkCalendar.raven-calendar:selected,
  .arc-panel GtkCalendar.raven-calendar:selected {
    color: #5294E2; }
  .raven GtkCalendar.raven-calendar.header,
  .arc-panel GtkCalendar.raven-calendar.header {
    color: white;
    border: none;
    border-radius: 0; }
  .raven GtkCalendar.raven-calendar.button, .raven GtkCalendar.raven-calendar.button:focus,
  .arc-panel GtkCalendar.raven-calendar.button,
  .arc-panel GtkCalendar.raven-calendar.button:focus {
    color: alpha(currentColor,0.5);
    background-color: transparent; }
    .raven GtkCalendar.raven-calendar.button:hover, .raven GtkCalendar.raven-calendar.button:focus:hover,
    .arc-panel GtkCalendar.raven-calendar.button:hover,
    .arc-panel GtkCalendar.raven-calendar.button:focus:hover {
      color: white;
      background-color: transparent; }

.arc-panel {
  color: white;
  background-color: rgba(33, 36, 44, 0.9); }

.top .arc-panel {
  border-bottom: 1px solid rgba(16, 19, 24, 0.82); }

.top .raven {
  border-bottom: 1px solid rgba(16, 19, 24, 0.77); }

.top .shadow-block {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent); }

.bottom .arc-panel {
  border-top: 1px solid rgba(16, 19, 24, 0.82); }

.bottom .raven {
  border-top: 1px solid rgba(16, 19, 24, 0.77); }

.bottom .shadow-block {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent); }

.left .arc-panel {
  border-right: 1px solid rgba(16, 19, 24, 0.82); }

.left .raven {
  border-right: 1px solid rgba(16, 19, 24, 0.77); }

.left .shadow-block {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent); }

.right .arc-panel {
  border-left: 1px solid rgba(16, 19, 24, 0.82); }

.right .raven {
  border-left: 1px solid rgba(16, 19, 24, 0.77); }

.right .shadow-block {
  background-color: transparent;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent); }

.raven {
  color: white;
  background-color: rgba(47, 52, 63, 0.9);
  transition: 170ms ease-out; }
  .raven .raven-expander,
  .raven .raven-switcher,
  .raven .header-widget {
    color: white;
    border: solid rgba(23, 27, 37, 0.7);
    border-width: 1px 0;
    background-color: rgba(37, 39, 49, 0.75); }
  .raven .header-widget {
    border-bottom-width: 0; }
  .raven .raven-background {
    background-color: rgba(37, 39, 49, 0.6);
    border-bottom: 1px solid rgba(16, 19, 24, 0.77); }
  .raven .option-subtitle {
    font-size: smaller; }

.raven-mpris {
  background-color: rgba(17, 18, 21, 0.9);
  border: solid rgba(6, 7, 10, 0.95);
  border-width: 1px 0; }
  .raven-mpris .button {
    padding: 8px; }
  .raven-mpris GtkLabel, .raven-mpris GtkImage {
    color: white; }
