/**
 * This file contains certain style hacks currently needed within
 * budgie-panel, which cannot be overriden, until themes are
 * adapted to suit the budgie-panel styling
 *
 * @note These overrides are for the main menu
 */


/* GtkSidebar */
.sidebar {
    background-color: shade(@theme_bg_color, 0.99);
}
.sidebar-item {
    padding: 10px;
}


GtkPopover GtkListBox {
    background-image: none;
    background-color: alpha(black, 0.0);
    border-radius: 6px;
}
GtkPopover GtkListBoxRow {
    background-image: none;
    background-color: alpha(black, 0.0);
}
GtkPopover .trough {
    background-color: alpha(black, 0.0);
}

GtkPopover .entry,
GtkPopover .entry:focused,
GtkPopover .entry:selected,
GtkPopover .entry:active,
GtkPopover .entry:hover
{
    border: 1px solid alpha(white, 0.0);
   border-image: none;
    background-image: none;
    background-color: alpha(white, 0.0);
    box-shadow: none;
}

GtkPopover GtkCalendar.view,
GtkPopover GtkCalendar.header {
    border-width: 0;
    background-color: transparent;
    background-image: none;
}


/* Stolen from Numix - swapped direction for top vs bottom */
BudgiePanelShadow {
    background-color: transparent;
    background-image: linear-gradient(to top,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}

BudgiePanelShadow.top {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}
BudgiePanelShadow.left {
    background-color: transparent;
    background-image: linear-gradient(to right,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}
BudgiePanelShadow.right {
    background-color: transparent;
    background-image: linear-gradient(to left,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}

PanelToplevel GtkEventBox {
    background-image: none;
    background-color: transparent;
}

/* active workspace */
WnckPager:selected {
    background: rgba(0, 0, 0, 0.25),;
}

/* Identical to the panel shadow.left */
.shadow-block {
    background-color: transparent;
    background-image: linear-gradient(to right,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}

ClientImage {
    background-color: transparent;
}
