/**
 * This file contains certain style hacks currently needed within
 * budgie-panel, which cannot be overriden, until themes are
 * adapted to suit the budgie-panel styling
 *
 * @note These overrides are for the main menu
 */


GtkListBox {
    background-image: none;
    background-color: alpha(black, 0.0);
    border-radius: 6px;
}
GtkListBoxRow {
    background-image: none;
    background-color: alpha(black, 0.0);
}
.trough {
    background-color: alpha(black, 0.0);
}

.entry,
.entry:focused,
.entry:selected,
.entry:active,
.entry:hover,
.entry {
    border: none;
    background-image: none;
    background-color: #f7f7f7;

    font-size: x-large;
    transition: none;
    box-shadow: none;
    border-radius: 6px 6px 1px 1px;
    color: black;
}

BudgiePopover {
    border-radius: 6px;
    border: 1px solid #44ACF2;
    background-color: #f7f7f7;
}

/* Sample theming - not used */
/*.budgie-panel {
    border-top: 1px solid alpha(black, 0.15);
    border-left: 1px solid alpha(black, 0.15);
    border-right: 1px solid alpha(black, 0.15);
    background-color: alpha(#3498db, 0.7);
    border-radius: 9px 9px 0px 0px;
}*/

BudgiePopover GtkCalendar.view,
BudgiePopover GtkCalendar.header,
BudgiePopover GtkCalendar.button,
BudgiePopover GtkCalendar.button:hover,
BudgiePopover GtkCalendar.button:insensitive {
    border-width: 0;
    background-color: transparent;
    background-image: none;
}
