[Desktop Entry]
Name=Budgie Desktop
Comment=This session logs you into the Budgie Desktop
Exec=/usr/bin/budgie-session
TryExec=/usr/bin/budgie-session
Icon=
Type=Application
