/**
 * This file contains styling overrides for
 * BudgieSessionDialog
 */


GtkWindow {
    border-radius: 6px;
    border: none;
}

.invisi-header {
    background-image: none;
    background-color: transparent;
}
