/*
 * This file contains the default budgie-panel styling, which may be
 * overriden by your theme
 */

.budgie-panel {
    background-color: alpha(black, 0.0);
    background-image: none;
    border-top: 1px solid alpha(white, 0.0);
    transition: 100ms ease-out;
}

.max-budgie-panel  {
    background-color: alpha(black, 0.7);
    border-top: 1px solid alpha(white, 0.2);
    transition: 100ms ease-in;
}

.budgie-panel .message-area {
    background-color: alpha(black, 0.8);
    border: 1px solid alpha(white, 0.1);
    border-radius: 6px;
    text-shadow: 1px 1px alpha(black, 0.5);
    icon-shadow: 1px 1px alpha(black, 0.5);
    transition: 100ms ease-out;
}

.budgie-panel .max-message-area {
    background-color: alpha(black, 0.36);
    border: 1px solid alpha(white, 0.2);
    transition: 100ms ease-in;
}

.budgie-panel .launcher,
PanelToplevel .launcher {
    border: 2px solid alpha(white, 0.0);
    background-image: none;
    transition: 100ms ease-in;
}
.budgie-panel .launcher:hover,
PanelToplevel .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-bottom: 2px solid alpha(white, 0.5);
}
.budgie-panel .launcher:active,
PanelToplevel launcher:active {
    border: 2px solid alpha(white, 0.0);
    border-bottom: 2px solid white;
}
/* Top launchers */
.top .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-top: 2px solid alpha(white, 0.5); 
}
.top .launcher:active {
    border: 2px solid alpha(white, 0.0);
    border-top: 2px solid white;
}

/* Left hand side launchers */
.left .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-left: 2px solid alpha(white, 0.5);
}
.left .launcher:active {
    border: 2px solid alpha(white, 0.0);
    border-left: 2px solid white;
}

/* Right hand side launchers */
.right .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-right: 2px solid alpha(white, 0.5);
}
.right .launcher:active {
    border: 2px solid alpha(white, 0.0);
    border-right: 2px solid white;
}

.panel-applet {
    background-image: none;
    border-color: alpha(white, 0.12);
    border-radius: 6px;
    border: solid alpha(white, 0.1) 1px;
}
.budgie-panel .menu-icon,
.budgie-panel .menu-icon:active,
.budgie-panel .menu-icon:hover {
    background-image: none;
}

.budgie-panel * {
    color: white;
    icon-shadow: 1px 1px alpha(black, 0.5);
}

.notification .priority.low {
    background-color: lightblue;
}
.notification .priority.high {
    background-color: blue;
}
.notification .priority.critical {
    background-color: red;
}


/* Fallback for 3.10 where popover theming is non existent.
 * Copyright Numix Project, gratefully stolen from them to
 * provide a consistent fallback. */
GtkPopover {
    margin: 10px;
    padding: 2px;
    border-radius: 2px;
    border-color: shade(@theme_bg_color, 0.8);
    border-width: 1px;
    border-style: solid;
    background-clip: border-box;
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    box-shadow: 0 2px 3px alpha(black, 0.5);
}

GtkPopover.osd {
    box-shadow: 0 2px 7px 3px alpha(black, 0.5);
}

GtkPopover > .list,
GtkPopover > .view,
GtkPopover > .toolbar {
    background-color: transparent;
}

GtkPopover.osd > .toolbar .button {
    border-radius: 0;
    border-width: 0;
    background-image: none;
    background-color: transparent;
}

GtkPopover .separator {
    border: 0;
    background-color: transparent;
    color: alpha(currentColor, 0.5);
    font-size: 80%;
    font-weight: bold;
}
