/*
 * This file contains the default budgie-panel styling, which may be
 * overriden by your theme
 */

.budgie-panel {
    background-color: alpha(black, 0.0);
    background-image: none;
    border-top: 1px solid alpha(white, 0.0);
    border-bottom: 2px solid black;
    transition: 100ms ease-out;
}

.max-budgie-panel  {
    background-color: alpha(black, 0.7);
    border-top: 1px solid alpha(white, 0.2);
    border-bottom: 2px solid black;
    transition: 100ms ease-in;
}


/* top panel */
.budgie-panel.top {
    border: 1px solid alpha(white, 0.0);
    border-top: 2px solid black;
}

.max-budgie-panel.top {
    border: 1px solid alpha(black, 0.7);
    border-top: 2px solid black;
    border-bottom: 1px solid alpha(white, 0.2);
}

/* left panel */
.budgie-panel.left {
    border: 1px solid alpha(white, 0.0);
    border-left: 2px solid black;
}

.max-budgie-panel.left {
    border: 1px solid alpha(black, 0.7);
    border-left: 2px solid black;
    border-right: 1px solid alpha(white, 0.2);
}

/* right panel */
.budgie-panel.right {
    border: 1px solid alpha(white, 0.0);
    border-right: 2px solid black;
}

.max-budgie-panel.right {
    border: 1px solid alpha(black, 0.7);
    border-right: 2px solid black;
    border-left: 1px solid alpha(white, 0.2);
}

.budgie-panel .message-area {
    background-color: alpha(black, 0.2);
    border: 1px solid alpha(white, 0.06);
    border-radius: 6px;
    text-shadow: 1px 1px alpha(black, 0.5);
    icon-shadow: 1px 1px alpha(black, 0.5);
    transition: 100ms ease-out;
}

.budgie-panel .max-message-area {
    background-color: alpha(black, 0.36);
    border: 1px solid alpha(white, 0.2);
    transition: 100ms ease-in;
}

.budgie-panel .launcher,
PanelToplevel .launcher {
    border: 2px solid alpha(white, 0.0);
    background-image: none;
    transition: 100ms ease-in;
}
.budgie-panel .launcher:hover,
PanelToplevel .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-bottom: 2px solid alpha(white, 0.5);
}

/* Top launchers */
.top .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-top: 2px solid alpha(white, 0.5); 
}

/* Left hand side launchers */
.left .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-left: 2px solid alpha(white, 0.5);
}

/* Right hand side launchers */
.right .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-right: 2px solid alpha(white, 0.5);
}

.panel-applet {
    background-image: none;
    border-color: alpha(white, 0.12);
    border-radius: 6px;
    border: solid alpha(white, 0.1) 1px;
}

.budgie-panel .menu-icon,
.budgie-panel .menu-icon:checked,
.budgie-panel .menu-icon:hover {
    background-image: none;
}

/** Selected window highlight on icon tasklist */
.budgie-icon-tasklist {
    border-color: white;
}

.budgie-panel * {
    icon-shadow: 1px 1px alpha(black, 0.5);
}

.budgie-panel .menu-icon *,
.budgie-panel .message-area * {
    color: white;
}

.dark .dim-label {
    color: white;
}
.dark .notif-title {
    color: #ffa726;
}
