/*
 * This file contains the default budgie-panel styling, which may be
 * overriden by your theme
 */

.budgie-panel {
    background-color: alpha(white, 0.0);
}
.budgie-panel .message-area {
    /*background-color: alpha(black, 0.8);*/
    background-color: alpha(white, 0.36);
    border-radius: 6px;
    text-shadow: 1 1 alpha(black, 0.5);
    icon-shadow: 1 1 alpha(black, 0.5);
}
.budgie-panel .launcher {
    border: 2px solid alpha(white, 0.0);
    background-image: none;
    transition: 100ms ease-in;
}
.budgie-panel .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-bottom: 2px solid alpha(white, 0.5);
}
.budgie-panel .launcher:active {
    border: 2px solid alpha(white, 0.0);
    border-bottom: 2px solid white;
}
.top .launcher:hover {
    border: 2px solid alpha(white, 0.0);
    border-top: 2px solid alpha(white, 0.5); 
}
.top .launcher:active {
    border: 2px solid alpha(white, 0.0);
    border-top: 2px solid white;
}
.panel-applet {
    background-image: none;
    border-color: alpha(white, 0.12);
    border-radius: 6px;
    border: solid alpha(white, 0.1) 1px;
}
.budgie-panel .menu-icon,
.budgie-panel .menu-icon:active,
.budgie-panel .menu-icon:hover {
    background-image: none;
}
BudgiePopover {
    border-radius: 6px;
}
