@function gtkalpha($c,$a) {
    @return unquote("alpha(#{$c},#{$a})");
}

$roundness: 3px;
$border_width: if($variant == 'default', 1px, 2px);
$pos_list: ((top, bottom),(bottom,top),(left,right),(right,left));
$asset_suffix: if($variant == 'default', '', '-hc');

// Used to reset all style properties set by the gtk theme
popover list,
popover row,
.budgie-popover list,
.budgie-popover row {
    @extend %reset_style
}

%reset_style,
 menubar {
    menuitem {
        @include menu_reset_style(label);
    }
}

// Container for both the "panel" area and the shadow. Wise to keep
// this transparent..
.budgie-container { background-color: transparent; }

*:drop(active):focus,
*:drop(active) {
    box-shadow: inset 0 0 0 1px #F08437;
}

@include workspaces(frame,button);