.budgie-popover,
.budgie-popover.background {
    border-radius: 3px;
    background-clip: border-box;
    box-shadow: 0 2px 3px 1px transparentize(black, 0.65);
    border: 1px solid #{"@borders"};
}

.budgie-popover .container,
.budgie-popover .container > border {
    @extend %reset_style;
}

.budgie-popover > .container {
    padding: 2px;
}

// Budgie Menu
.budgie-menu {
    .container { padding: 0; }

    button:hover { -gtk-icon-effect: none; }

    entry.search {
        @extend %reset_style;

        padding: 12px 5px;
        border-bottom: 1px solid #{"@borders"};
        border-radius: 0;
        font-size: 120%;

        image {
            color: currentColor;

            &:dir(ltr) { padding-left: 8px; padding-right: 12px; }
            &:dir(rtl) { padding-left: 12px; padding-right: 8px; }
        }
    }

    .categories {
        border-width: 0;

        &:dir(ltr) { border-right: 1px solid #{"@borders"}; }
        &:dir(rtl) { border-left: 1px solid #{"@borders"}; }
    }

    .category-button {
        @extend %reset_style;

        padding: 8px;
        border-radius: 0;

        &:hover { background-color: #{"mix(@theme_base_color, @theme_fg_color, 0.1);"} }
        &:active, &:checked {
            color: $selected_fg_color;
            background-color: $selected_bg_color;
        }
        &:checked:disabled {
            opacity: 0.5;

            label { color: inherit; }
        }
    }

    button:not(.category-button) { padding-top: 5px; padding-bottom: 5px; }

    undershoot, overshoot { background: none; }
}

// Menu Button
button.budgie-menu-launcher {
    padding: 0 2px;
}

// User Menu
.user-menu {
    .content-box separator {
        background-color: #{"alpha(@theme_fg_color, 0.15)"};
    }

    .container {
        padding: 10px;
    }
}

// Raven Trigger
button.raven-trigger {
    padding-left: 2px;
    padding-right: 2px;
}

// Places Menu
.places-menu {
    .container { padding: 0; }

    .message-bar {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .name-button {
        border: 0;
        border-radius: 0;
        padding: 4px 6px;
    }

    .unmount-button {
        padding: 4px 4px;
        border: 0;
        border-radius: 0;
    }

    .places-section-header {
        padding: 0px;
        border-bottom: 1px solid $raven_expander_border;
        box-shadow: 0px 1px 1px #{"alpha(@theme_fg_color, 0.03)"};
    }

    .places-section-header > button {
        padding: 8px;
        border: none;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .places-list {
        background: transparentize($fg_color, 0.96);
        border-bottom: 1px solid $raven_expander_border;
    }

    list,
    row {
        padding: 0;
        margin: 0;
    }

    .unlock-area {
        border-top: 1px solid transparentize($raven_expander_border, 0.1);
        border-bottom: 1px solid transparentize($raven_expander_border, 0.1);
    }

    .unlock-area entry {
        border-radius: 0;
        border: 0;
    }

    .unlock-area button {
        border-radius: 0;
        border: 0;
        border-left: 1px solid transparentize($raven_expander_border, 0.1);
    }

    .alternative-label {
        font-size: 15px;
        padding: 3px;
    }

    .always-expand {
        background: transparent;
        border-bottom: none;
    }
}

// Night Light indicator
.night-light-indicator {
    .container { padding: 0; }

    .view-header {
        font-size: 14px;
        padding: 10px;
        border-bottom: #{"1px solid mix(@theme_base_color, #000000, 0.35);"};
        box-shadow: #{"0px 1px 1px alpha(@theme_fg_color, 0.04);"};
    }

    .display-settings-button {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border: none;
        padding: 3px;
        border-top: #{"1px solid mix(@theme_base_color, #000000, 0.35);"};
        box-shadow: #{"inset 0px 1px 1px alpha(@theme_fg_color, 0.04);"};
    }
}

// Panel
.budgie-panel {
    @extend %widgets;
    color: $fg_color;
    background-color: $panel_bg;
    background-image: none;
    box-shadow: none;
    border: none;
    transition: all 150ms ease-in;

    button {
      border-top-width: 0;
      border-bottom-width: 0;
      border-radius: 0;
    }

    &.transparent {
        background-color: transparent;

        .top & {
            border-bottom-color: transparent;
        }

        .bottom & {
            border-top-color: transparent;
        }

        .left & {
            border-right-color: transparent;
        }

        .right & {
            border-left-color: transparent;
        }
    }

    separator { background-color: transparentize($fg_color, 0.85) }

    // End Section needs to be fancy
    @if $variant == 'default' {
        .end-region {
            background-color: rgba(0,0,0,0.2);

            &:dir(ltr) { border-left: 1px solid rgba(0,0,0,0.2); }
            &:dir(rtl) { border-right: 1px solid rgba(0,0,0,0.2); }
        }
    }
}

// Tasklist
.budgie-panel #tasklist-button,
.budgie-panel #tasklist-button:backdrop {

    border-radius: 0;
    outline-color: transparent;

    @if $variant == 'default' {
        &:not(:hover):not(:active):not(:checked) { color: gtkalpha(currentColor, 0.5); }
        background: none;
        background-clip: padding-box;
        border: none;

        @extend %underscores;
    }

    &:drop(active) { box-shadow: inset 0 0 0 1px $selected_bg_color; }
}

// Icon Tasklist
.budgie-panel {

    button.flat.launcher {
        @extend %reset_style;

        outline-color: transparent;
        transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        border-color: transparentize($panel_bg,1); // fixes the transition
        border-radius: 0;
        padding: 0;
        background-clip: padding-box;
    }
    .unpinned button.flat.launcher,
    .pinned button.flat.launcher.running { @extend %underscores; }

    .pinned button.flat.launcher:not(.running):hover {
        background-color: transparentize(black, 0.8);
        box-shadow: inset 1px 0 transparentize(black, 0.8),
                    inset -1px 0 transparentize(black, 0.8);
    }
}

%underscores {
    &:hover,
    &:active, &:checked {
        background-color: transparentize(black, 0.8);
        box-shadow: inset 1px 0 transparentize(black, 0.8),
                    inset -1px 0 transparentize(black, 0.8);
    }

    @each $pos, $b_pos in $pos_list {
        .#{$pos} & {
            padding-#{$b_pos}: 2px;
            border-#{$pos}: 2px solid transparentize($panel_bg,1);

            @at-root {
                .#{$pos} .budgie-panel .unpinned button.flat.launcher,
                .#{$pos} .budgie-panel .pinned button.flat.launcher.running { border-#{$pos}: 2px solid transparentize($selected_bg_color, 0.5); }
            }
            &:hover {
                border-#{$pos}: 2px solid transparentize($selected_bg_color, 0.5);
            }
            &:active, &:checked {
                border-#{$pos}: 2px solid $selected_bg_color;
            }
        }
    }
}

@each $pos, $b_pos in $pos_list {

    // Panel borders
    .#{$pos} .budgie-panel { border-#{$b_pos}: $border_width solid $panel_border; }

    // Raven borders
    .#{$pos} .raven-frame {
        padding: 0;
        background: none;

        border {
            border: none;
            border-#{$b_pos}: $border_width solid $raven_border;
        }
    }

    // Shadows
    .#{$pos} .shadow-block {
        background-color: transparent;
        background-image: linear-gradient(to $b_pos,
                                          $panel_shadow,
                                          transparent);
    }
}

// Raven
.raven {
    @extend %widgets;
    @extend %menu;
    color: $fg_color;
    background-color: $raven_bg;
    transition: 170ms ease-out;

    .raven-header {
        min-height: 32px;

        color: $fg_color;
        border: solid $raven_expander_border;
        border-width: 1px 0;
        background-color: $raven_expander_bg;

        &.top { border-top-style: none; }
        &.bottom { border-bottom-style: none; }
    }
    @if $variant=='default' {
        .expander-button { color: gtkalpha(currentColor, 0.5); }
    }
    .raven-background {
        color: $fg_color;
        background-color: $raven_background_bg;
        border-bottom: 1px solid $raven_background_border;

        &.middle { border-bottom-style: none; }  // applet background between two headers
    }
    .powerstrip button {
        padding: 10px;
    }
    .option-subtitle {
        font-size: smaller;
    }
}

// MPRIS Applet
.raven-mpris {
    color: $mpris_overlay_fg;
    background-color: $mpris_overlay_bg;
    border: solid $mpris_overlay_border;
    border-width: 1px 0;

    button.image-button { padding: 8px; }
}

// Notifications
.budgie-notification-window {
    background: none;
    border-radius: 1px;
}

.budgie-notification {
    &.background {
        border-radius: 1px;
    }
    .notification-title {
        font-size: 110%;
        color: $fg_color;
    }
    .notification-body { color: transparentize($fg_color, 0.3); }
}

.drop-shadow {
    @extend %widgets;

    color: $fg_color;
    background-color: $panel_bg;
    box-shadow: 0 2px 4px 0 $panel_shadow, 0 0 0 1px $panel_border;
    border-radius: 1px;
}

// On Screen Display in Budgie
.budgie-osd-window {
    @extend .budgie-notification-window;
}

// Internal part of the OSD
.budgie-osd {
    @extend .budgie-notification;
}

// Alt+tab switcher in Budgie
.budgie-switcher-window {
    @extend .budgie-notification-window;

    // Flowbox
    flowbox { color: $fg_color; }
    flowboxchild {
        padding: 3px;
        color: $fg_color;

        &:hover { background-color: $button_bg; }
        &:active { color: $fg_color; }
        &:selected {
            color: $selected_fg_color;
            background-color: $selected_bg_color;

            &:active { color: $selected_fg_color; }
            &:hover { background-color: mix(black, $selected_bg_color, 10%); }
            &:disabled {
                color: transparentize($selected_fg_color, 0.3);
                background-color: transparentize($selected_bg_color, 0.3);
                label { color: inherit; }
            }
        }
    }
}

// Internal part of the Switcher
.budgie-switcher {
    @extend .budgie-notification;
}

// Session Dialog
.budgie-session-dialog {
    color: $fg_color;
    background-color: $panel_bg;

    @extend %widgets;

    .dialog-title { font-size: 120%; }

    decoration {
      border-radius: 1px;
      box-shadow: 0 2px 4px 0 $panel_shadow, 0 0 0 1px $panel_border;
    }

    .linked.horizontal > button {
        padding: 8px;
        border-bottom: none;
        border-radius: 0;
        &:first-child { border-left: none; border-radius: 0; }
        &:last-child { border-right: none; border-radius: 0; }
    }
}

// PolKit Dialog
.budgie-polkit-dialog {
    @extend .budgie-session-dialog;
    @extend %menu;

    .message { color: transparentize($fg_color, 0.3); }
    .failure { color: $alert_color; }
}

// Run Dialog
.budgie-run-dialog {
    @extend .budgie-session-dialog;

    entry.search, entry.search:focus {
        font-size: 120%;
        padding: 8px 5px;
        border: none;
        box-shadow: none;

        image {
            &:dir(ltr) { padding-left: 8px; padding-right: 12px; }
            &:dir(rtl) { padding-left: 12px; padding-right: 8px; }
        }
    }

    list row:selected .dim-label { opacity: 1; }

    scrolledwindow { border-top: 1px solid darken($entry_border, 5%); }
}

// Budgie styled Gtk Menus
.budgie-menubar {
    @extend %menu;
    menu {
        @extend %budgie_menubar_menu;
    }

    arrow {
        @extend %budgie_menubar_arrow;
        min-width:16px;
        min-height:16px;
    }

    menuitem {
        accelerator {
            @extend %budgie_menubar_accelerator;
        }

        check, radio {
            min-height: 16px;
            min-width: 16px;
        }
    }
}
